<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Daedalus - Mac.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Daedalus - iOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>DaedalusEditor - Mac.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>UE4CmdLineRun.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>UE4XcodeHelper.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>040A15DD5B34DF035A4C64C3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>10BFB114BAA9F77D7AB69FCD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2A38DBB491B423AF6F5B2EC3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4BE6483AF704F8090B1F070F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4D70FD5A03D2B8A427D9633B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5B7302EAECCFC7F5765BE4EC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6B676F2A98C0EE04EF057E70</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7C3D1B06611B4CC68992E2C3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>87FF0971A0B2FF3E3D7DC93B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8C1DEA4C19D52798DE0DD1BA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A642C9A4EACF852E707BE498</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A7A660A86F7E71ADB7EF07CA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B6969B03B620C187E6994314</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B931A0EF40C998D15607A772</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C6B2FF7FBB0C6ED89AB58424</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C6FA312102890CC8AA51E45B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CF63FC4D1A9319D89FFF0988</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D3F7EB5710545DE17AF0B5C9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E0791388261DE24DBCD33220</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F317079F0880E60A54532C3C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
