# Unreal Engine

Daedalus.sln
Daedalus.xcodeproj
/build
/Binaries
/DerivedDataCache
/Intermediate
/Saved
/Debug


# Visual Studio

[Tt]humbs.db
*.sdf
*.suo
*.opensdf
*.user
*.sln.docstates
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/[Rr]eleases/
x64/x86/
build/
bld/
[Bb]in/
[Oo]bj/
*.ide/
*.psess
*.vsp
*.vspx


# XCode

*.hmap
*.xcuserstate
*.pbxuser
xcuserdata
DerivedData
.DS_Store
